[功能请求] 是否有必要对现有的 ice-full进行完善

## 描述该功能的用处，可以提供相关资料描述该功能
目前的 ice full 模式的现有状况
1. [RFC8445 ](https://datatracker.ietf.org/doc/html/rfc8445)中看起来并不完善。relay candidate 好像不能复用base socket
2. 不支持外部stun/turn。
3. tcp candidate [RFC6544](https://tools.ietf.org/html/rfc6544#section-4.5)
4. 多component 的ice支持
5. stuns/turns, tcp.dtls,tls
6. 多 stun/turn 的服务器支持
7. [PMTU-RFC5780](https://www.rfc-editor.org/rfc/rfc5780）
## 该功能是否用于改进项目缺陷，如果是，请描述现有缺陷
用于完善

## 描述你期望实现该功能的方式和最终效果
最近我刚好在整理相关资料，可以尝试对目前现有 ice 进行改进来实现上述功能
